body {  
    font-family: 'Roboto', sans-serif;
}
.modern {
    float:  left;
    margin: 2%;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    letter-spacing: 0.3em;
    font-weight: bold;
}
nav {
    float: right;
}
#home {
    background-image: url(../image/bg1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    height: auto;
    padding-bottom: 15%;
}
.min{
    margin-top:20% ;
    font-size: 1.1em;
    letter-spacing: 0.5em;
    opacity: 0.6;
}
.welcome {
    font-size: 2.5em;
    letter-spacing: 0.5em;
    font-family: 'Amatic SC', cursive;
    font-family: 'Josefin Sans', sans-serif;
}
.button {
    border: 2px rgba(19, 19, 19, 0.342) solid;
    color: rgba(43, 42, 42, 0.836);
    padding: 1.2%;
}
#about {
    text-align: center;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.637);
}
#about img {
    width: 20px;
    height: 20px;
}
#about .p2 {
    font-weight: bold;
    color: black;
}
#four {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.664);
    background-color: rgba(128, 128, 128, 0.212);
    height: auto;
    padding-top: 9%;
    padding-bottom: 7%;
    padding-left: 4%; 
}
#four .heading {
    font-size: 2em;
    padding-left: 1.5%;
}
#four img {
    width: 40%;
    height: 100%;
}    
#five {
    height: auto;
    text-align: center;
    font-size: 1.5em;
    color: white;
    padding-top: 8%;
    padding-bottom: 8%;
    background-image: url(../image/bg3.jpg);
    background-size: auto;
    letter-spacing: 4px;
}
#five img {
    width: 100%;
    height: 100%;
}
#six {
    text-align: center;
    padding-top: 5%;
}
#six .late {
    font-weight: lighter;
    font-size: 1.2em;
    letter-spacing: 0.2em;
}
#six p {
    font-weight: bold;
    font-size: 0.7em;
}
#six img {
    width: 100%;
    height: 100%;
}
#client {
    text-align: center;
    padding-top: 7%;
}
#client p {
    color: rgba(0, 0, 0, 0.514);
}
#client .late {
    font-weight: lighter;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    color: black;
}
#client img {
    background-color: white;
    border-radius: 50%;
}

@media screen and (max-width:700px) {
    #home   {
        height: auto;
        background-size: auto;     
        width: auto; 
    }
    .welcome {
        font-size: 2em;
        letter-spacing: normal;
    }
    .min{
        font-size: 1em;
        letter-spacing: normal;
    }
    .button {
        padding: 1%;
    }#four {
        font-size: 0.9em;
        padding-left: 3%; 
    }
   
}
