body {  
    font-family: 'Baloo 2', cursive;
}
.modern {
    float:  left;
    margin: 2%;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    letter-spacing: 0.3em;
    font-weight: bold;
}
nav {
    float: right;
}
#home {
    background-image: url(../image/bg1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    height: 100vh;
}
.min{
    margin-top: 20%;
    font-size: 1.1em;
    letter-spacing: 0.5em;
    opacity: 0.6;
}
.welcome {
    font-size: 2.5em;
    letter-spacing: 0.5em;
    font-family: 'Amatic SC', cursive;
    font-family: 'Josefin Sans', sans-serif;
}
.button {
    border: 2px rgba(19, 19, 19, 0.342) solid;
    color: rgba(43, 42, 42, 0.836);
    padding: 10px;
}
#about {
    margin-left: 20%;
}
#about img {
    width: 5vw;
    height: 5vh;
}
#about2 {
    margin-left: 19%;
    margin-top: 2%;
    font-size: 0.8em;
    font-weight: bolder;
}
#about3 {
    text-align: center;
    font-size: 0.7em;
    margin-left: 7%;
}

@media screen and (max-width:1100px) {
    #home   {
        background-size: 100% 60vh;
    }
    .welcome {
        font-size: 1.5em;
        letter-spacing: normal;
    }
    .min{
        font-size: 0.9em;
        letter-spacing: normal;

    }
    .buttons{ 
        text-align: center;
        margin: 0;
    }
    .button {
        border: 2px rgba(19, 19, 19, 0.342) solid;
        color: rgba(43, 42, 42, 0.836);
        padding: 0;
        margin: 0;
    }
    #about img {
        margin: 5%;
    }
    
}
