body {
    background-image: url(../image/h1.jpg);
    background-repeat: no-repeat;
    background-size: 1280px 600px;
}
.modern {
    float:  left;
    margin:2%;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    font-family: 'Amatic SC', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    letter-spacing: 0.3em;
    font-weight: bold;
}
nav {
    float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:transparent;
}
  
li {
    float: right;
}
  
li a {
    display: block;
    color: rgba(0, 0, 0, 0.438);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.min{
    margin-top: 45%;
    font-size: 1.1em;
    margin-left: 9%;
    letter-spacing: 0.2em;
    opacity: 0.7;
}
.welcome {
    font-size: 3em;
    margin-left: 5%;
    letter-spacing: 0.4em;
    display: inline;
    font-family: 'Amatic SC', cursive;
    font-family: 'Josefin Sans', sans-serif;
}
.buttons{ 
    margin-left: 450px;
}
.button {
    border: 2px rgba(19, 19, 19, 0.342) solid;
    color: rgba(43, 42, 42, 0.836);
    padding: 10px;
    margin-left: 30px;
}
